.tasksForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -1.6875rem;
    height: 3.375rem;
    gap: 0.5rem;

}
.taskBar {
    background-color: var(--gray-500);
    color: var(--gray-300);
    border-color: var(--gray-700);
    width: 39.875rem;
    height: 3.375rem;
    padding: 1rem;
    border-radius: 8px;
}

.button {
    display: flex;
    width: 5.625rem;
    height: 3.25rem;
    background-color: var(--blueDark);
    color: var(--gray-100);
    font-family: inter;
    font-style: bold;
    font-weight: 700;
    font-style: bold;
    font-size: 0.875rem;
    line-height: 1.225rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    }

.image {
    width: 1rem;
    height: 1rem;
}